In [74]:
import pandas as pd

flotteurs_df = pd.read_csv('/content/drive/MyDrive/interface analytique/flotteurs.csv')
operations_df = pd.read_csv('/content/drive/MyDrive/interface analytique/operations.csv')
operations_stats_df = pd.read_csv('/content/drive/MyDrive/interface analytique/operations_stats.csv')
resultats_humain_df = pd.read_csv('/content/drive/MyDrive/interface analytique/resultats_humain.csv')

print('First 5 rows of flotteurs.csv:')
display(flotteurs_df.head())

print('\nFirst 5 rows of operations.csv:')
display(operations_df.head())

print('\nFirst 5 rows of operations_stats.csv:')
display(operations_stats_df.head())

print('\nFirst 5 rows of resultats_humain.csv:')
display(resultats_humain_df.head())

/tmp/ipython-input-3952808043.py:4: DtypeWarning: Columns (1,2,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  operations_df = pd.read_csv('/content/drive/MyDrive/interface analytique/operations.csv')
/tmp/ipython-input-3952808043.py:5: DtypeWarning: Columns (11,19,21,22,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  operations_stats_df = pd.read_csv('/content/drive/MyDrive/interface analytique/operations_stats.csv')

First 5 rows of flotteurs.csv:

,operation_id,numero_ordre,pavillon,resultat_flotteur,type_flotteur,categorie_flotteur,numero_immatriculation
0,-135614,1.0,Français,"Difficulté surmontée, reprise de route",Pêche,Pêche,NaN
1,-135598,1.0,Français,Remorqué,Plaisance à moteur < 8m,Plaisance,NaN
2,-135597,1.0,Étranger,Assisté,Navire de charge ou de servitude,Commerce,NaN
3,-135596,1.0,Étranger,"Non assisté, cas de fausse alerte",Plaisance à voile,Plaisance,NaN
4,-135595,1.0,Étranger,"Non assisté, cas de fausse alerte",Navire de charge ou de servitude,Commerce,NaN

First 5 rows of operations.csv:

,operation_id,type_operation,pourquoi_alerte,moyen_alerte,qui_alerte,categorie_qui_alerte,cross,departement,est_metropolitain,evenement,...,vent_direction,vent_direction_categorie,vent_force,mer_force,date_heure_reception_alerte,date_heure_fin_operation,numero_sitrep,cross_sitrep,fuseau_horaire,systeme_source
0,-135614,MAS,NaN,VHF phonie,Navire impliqué,Navire à la mer,Nouvelle-Calédonie,Nouvelle-Calédonie,False,Avarie du système de propulsion,...,NaN,NaN,NaN,NaN,2025-06-11 22:50:00+00:00,2025-06-12 00:55:00+00:00,166,Nouvelle-Calédonie MAS 2025/166,Pacific/Noumea,secmarweb
1,-135613,SAR,NaN,Téléphone mobile à terre,CORG / Gendarmerie nationale,Autorité militaire française à terre,Nouvelle-Calédonie,NaN,False,Baignade,...,100.0,est,4.0,3.0,2025-06-30 01:10:00+00:00,2025-06-30 02:05:00+00:00,184,Nouvelle-Calédonie SAR 2025/184,Pacific/Noumea,secmarweb
2,-135598,MAS,NaN,Téléphone fixe,Autre organisme ou personne privée,Organisme ou personne privée,Nouvelle-Calédonie,Nouvelle-Calédonie,False,Avarie du système de propulsion,...,270.0,ouest,4.0,2.0,2025-06-13 19:30:00+00:00,2025-06-13 23:08:00+00:00,169,Nouvelle-Calédonie MAS 2025/169,Pacific/Noumea,secmarweb
3,-135597,MAS,NaN,VHF phonie,Navire impliqué,Navire à la mer,Nouvelle-Calédonie,Nouvelle-Calédonie,False,Avarie du système de propulsion,...,90.0,est,4.0,3.0,2025-06-13 09:15:00+00:00,2025-06-13 15:00:00+00:00,168,Nouvelle-Calédonie MAS 2025/168,Pacific/Noumea,secmarweb
4,-135596,SAR,NaN,Balise de détresse,CROSS / MRCC,Autorité civile française à terre,Nouvelle-Calédonie,Nouvelle-Calédonie,False,Toutes fausses alertes,...,80.0,est,2.0,1.0,2025-06-12 21:38:00+00:00,2025-06-13 21:48:00+00:00,167,Nouvelle-Calédonie SAR 2025/167,Pacific/Noumea,secmarweb

First 5 rows of operations_stats.csv:

,operation_id,date,annee,mois,jour,mois_texte,semaine,annee_semaine,jour_semaine,est_weekend,...,nombre_flotteurs_plaisance_voile_legere_impliques,nombre_flotteurs_plaisance_a_moteur_impliques,nombre_flotteurs_plaisance_a_moteur_moins_8m_impliques,nombre_flotteurs_plaisance_a_moteur_plus_8m_impliques,nombre_flotteurs_plaisance_a_voile_impliques,nombre_flotteurs_planche_a_voile_impliques,nombre_flotteurs_ski_nautique_impliques,nombre_flotteurs_surf_impliques,nombre_flotteurs_vehicule_nautique_a_moteur_impliques,sans_flotteur_implique
0,-135614,2025-06-12,2025,6,12,Juin,24,2025-24,Jeudi,False,...,0,0,0,0,0,0,0,0,0,False
1,-135613,2025-06-30,2025,6,30,Juin,27,2025-27,Lundi,False,...,0,0,0,0,0,0,0,0,0,True
2,-135598,2025-06-14,2025,6,14,Juin,24,2025-24,Samedi,True,...,0,1,1,0,0,0,0,0,0,False
3,-135597,2025-06-13,2025,6,13,Juin,24,2025-24,Vendredi,False,...,0,0,0,0,0,0,0,0,0,False
4,-135596,2025-06-13,2025,6,13,Juin,24,2025-24,Vendredi,False,...,0,0,0,0,1,0,0,0,0,False

First 5 rows of resultats_humain.csv:

,operation_id,categorie_personne,resultat_humain,nombre,dont_nombre_blesse
0,-135614,Pêcheur français,Personne tirée d'affaire seule,6,0
1,-135613,Plaisancier français,Personne impliquée dans fausse alerte,1,0
2,-135598,Pêcheur français,Personne assistée,2,0
3,-135597,Marin étranger,Personne assistée,19,0
4,-135596,Plaisancier français,Personne impliquée dans fausse alerte,1,0

In [ ]:
print("Columns available in operations_df:")
display(operations_df.columns.tolist())

Columns available in operations_df:

['operation_id',
 'type_operation',
 'pourquoi_alerte',
 'moyen_alerte',
 'qui_alerte',
 'categorie_qui_alerte',
 'cross',
 'departement',
 'est_metropolitain',
 'evenement',
 'categorie_evenement',
 'autorite',
 'seconde_autorite',
 'zone_responsabilite',
 'latitude',
 'longitude',
 'vent_direction',
 'vent_direction_categorie',
 'vent_force',
 'mer_force',
 'date_heure_reception_alerte',
 'date_heure_fin_operation',
 'numero_sitrep',
 'cross_sitrep',
 'fuseau_horaire',
 'systeme_source']

In [45]:
operations_df.select_dtypes(include=['object']).columns

Index(['type_operation', 'pourquoi_alerte', 'moyen_alerte', 'qui_alerte',
       'categorie_qui_alerte', 'cross', 'departement', 'evenement',
       'categorie_evenement', 'autorite', 'seconde_autorite',
       'zone_responsabilite', 'vent_direction_categorie',
       'date_heure_reception_alerte', 'date_heure_fin_operation',
       'cross_sitrep', 'fuseau_horaire', 'systeme_source'],
      dtype='object')

In [43]:
print("Unique values for 'type_operation' in operations_df:")
display(operations_df['type_operation'].unique())

Unique values for 'type_operation' in operations_df:

array(['MAS', 'SAR', 'DIV', 'SUR', nan], dtype=object)

In [44]:
print("Unique values for 'pourquoi_alerte' in operations_df:")
display(operations_df['pourquoi_alerte'].unique())

Unique values for 'pourquoi_alerte' in operations_df:

array([nan, 'Événement reconnu', 'Inquiétude', 'Signal pyrotechnique',
       'Balise 406', 'Autre', 'IMMARSAT C', 'Balise 121,5 - 243',
       'Signal radio-électrique', 'Autre signal réglementaire',
       'IMMARSAT A', 'IMMARSAT'], dtype=object)

In [ ]:
print("Unique values for 'moyen_alerte' in operations_df:")
display(operations_df['moyen_alerte'].unique())

Unique values for 'moyen_alerte' in operations_df:

array(['VHF phonie', 'Téléphone mobile à terre', 'Téléphone fixe',
       'Balise de détresse', 'Téléphone à la mer / GSM',
       "Autre moyen d'alerte", 'Autre signal réglementaire',
       'Téléphone à la mer / satellite', 'Télex', 'Signal pyrotechnique',
       'Télécopie', 'VHF ASN', 'Balise de sûreté des navires',
       'Balise 121,5 Mhz', 'MF/HF phonie', 'MF/HF ASN',
       'Téléphone à terre', 'VHF', 'Téléphone mobile',
       'Balise de détresse EPIRB', 'Email', 'SART',
       'Balise de détresse ELT', 'Téléphonie mobile 196', 'Mob AIS', nan,
       'Téléphone fixe 196', 'Inmarsat C', 'SSAS', 'VHF AIS',
       'Balise de détresse PLB', 'MOB ASN', "Système individuel d'alerte",
       'HF'], dtype=object)

In [ ]:
print("Unique values for 'categorie_qui_alerte' in operations_df:")
display(operations_df['categorie_qui_alerte'].unique())

Unique values for 'categorie_qui_alerte' in operations_df:

array(['Navire à la mer', 'Autorité militaire française à terre',
       'Organisme ou personne privée',
       'Autorité civile française à terre', 'Autorité étrangère',
       'Aéronef', 'Autorité maritime française à terre', nan],
      dtype=object)

In [42]:
print("Unique values for 'operation_id' in operations_df:")
display(operations_df['operation_id'].unique())

Unique values for 'operation_id' in operations_df:

array([     -135614,      -135613,      -135598, ..., 110420241387,
       110420241396, 110420241727])

In [ ]:
print("Unique values for 'qui_alerte' in operations_df:")
display(operations_df['qui_alerte'].unique())

Unique values for 'qui_alerte' in operations_df:

array(['Navire impliqué', 'CORG / Gendarmerie nationale',
       'Autre organisme ou personne privée', 'CROSS / MRCC',
       'Navire de commerce', 'Famille / Proche', 'MCC COSPAS-SARSAT',
       'CODIS / SDIS / CTA', 'RCC et RSC', 'Navire de gendarmerie',
       'Témoin', 'Navire de plaisance', "Compagnie d'assurance",
       'MCC SARSAT COSPAS 406', 'Armateur', 'Support de plongée',
       'Armée de terre-air', 'SNSM', 'CCMM', 'Affaires maritimes / CSN',
       'Poste de plage', 'Autre administration civile',
       'Autre autorité étrangère', 'Autre navire à la mer', 'SAMU',
       'COZ / Sécurité civile', 'Police', 'Marine nationale',
       'Navire administration civile', 'MRCC', 'Aéronef militaire',
       'MCC Sarsat – Cospas', 'Pilotage', 'Gendarmerie maritime',
       'Autre autorité civile française à terre',
       'Centre secours locaux (caserne pompier)', 'Loueur de bateaux',
       'Navire de pêche', 'Comité de course', 'Navire Marine nationale',
       'SCMM', 'Port', 'Organisme professionnel / Pêcheur',
       'Navire de sauvetage', 'RCC / RSC', 'MCC SARSAT COAPAS 121,5-243',
       'Douane', 'Affaires maritimes / phares et balises',
       'SAMU Coordination médicale maritime', 'École de voile',
       'Gendarmerie nationale', 'Autre aéronef',
       'Collectivité locale / Mairie', 'Station radio-maritime',
       'Aéronef administratif', 'Aéronef impliqué', 'IMMARSAT C',
       'Préfecture terrestre ou maritime', 'Sémaphore',
       'Phares et balises', 'COGIC', 'Service de géolocalisation privé',
       'Autorité médicale étrangère', 'Ambassade / Consulat',
       'Compagnie aérienne', 'Radio-amateur', 'IMMARSAT A', 'EPSHOM',
       'Agent maritime', nan, 'Contrôle aérien', 'Propriétaire',
       'ARCC ARSC', 'Préfecture', 'SAM ou station AffMar', 'PreMar',
       'Cibiste', 'MiMer', 'Aéronef civil', 'SHOM', 'DRAM et DDAM',
       'Radio amateur', 'COGIC interministériel'], dtype=object)

In [ ]:
print("Unique values for 'est_metropolitain' in operations_df:")
display(operations_df['est_metropolitain'].unique())

Unique values for 'est_metropolitain' in operations_df:

array([False,  True])


### Unique Values in 'categorie_evenement' Column of `operations_df`

In [ ]:
print("Unique values for 'categorie_evenement' in operations_df:")
display(operations_df['categorie_evenement'].unique())

Unique values for 'categorie_evenement' in operations_df:

array(["Avaries non suivies d'accident navire",
       'Accidents individuels à personnes', 'Fausses alertes',
       'Autres affaires nécessitant opération', 'Accidents de navire',
       'Accidents individuels à personnes non embarquées',
       'Accidents individuels à personnes embarquées', nan], dtype=object)

### Unique Values in 'autorite' Column of `operations_df`

In [ ]:
print("Unique values for 'autorite' in operations_df:")
display(operations_df['autorite'].unique())

Unique values for 'autorite' in operations_df:

array(['Représentant du gouvernement', 'Préfet maritime',
       'Autorité étrangère', 'Autorité portuaire', 'Autre', 'Maire',
       'SG-Mer', 'Affaires maritimes', 'CROSS ou sous-CROSS',
       'MRCC étranger', nan, 'RCC - RSC étrangers', 'RCC - RSC français'],
      dtype=object)

### Unique Values in 'seconde_autorite' Column of `operations_df`

In [ ]:
print("Unique values for 'seconde_autorite' in operations_df:")
display(operations_df['seconde_autorite'].unique())

Unique values for 'seconde_autorite' in operations_df:

array([nan, 'Autre', 'MRCC étranger', 'CROSS ou sous-CROSS',
       'Préfet maritime', 'RCC - RSC étrangers', 'Autorité portuaire',
       'RCC - RSC français', 'Maire'], dtype=object)

### Unique Values in 'zone_responsabilite' Column of `operations_df`

In [ ]:
print("Unique values for 'zone_responsabilite' in operations_df:")
display(operations_df['zone_responsabilite'].unique())

Unique values for 'zone_responsabilite' in operations_df:

array(['Eaux territoriales', 'Port et accès', 'Responsabilité étrangère',
       'Plage et 300 mètres', 'Responsabilité française', nan,
       'Terrestre', 'Plan eau salée', 'Hors responsabilité'], dtype=object)

### Unique Values in 'vent_direction' Column of `operations_df`

In [ ]:
print("Unique values for 'vent_direction' in operations_df:")
display(operations_df['vent_direction'].unique())

Unique values for 'vent_direction' in operations_df:

array([ nan, 100., 270.,  90.,  80., 130., 140., 170., 240., 110., 120.,
       145., 300., 180., 355., 280., 330., 150., 220., 260.,  50.,  40.,
        20.,  92.,  70., 135.,  10., 101., 315., 320., 310., 360.,  60.,
        35., 160.,  45., 350., 190., 225.,   5., 125., 185.,  75.,  14.,
       250., 200.,  30., 205., 195.,  95.,   1.,  85., 175.,  15., 290.,
       137., 340.,  87., 210.,  48., 215.,   3.,   9., 115.,  25.,  65.,
        12.,  88.,  72.,  59.,  96., 105., 158., 345.,  82.,  55., 325.,
       161.,   6., 133., 291., 247.,  57.,  52., 296., 314., 202., 214.,
       189., 178., 234., 233., 179., 259., 263., 271.,   8., 253., 276.,
       181.,  23., 273., 237., 327., 342., 269., 321., 265.,  62., 131.,
        68., 334., 306., 329.,  78., 297., 312., 275.,  58.,  42., 102.,
       338., 295.,  11., 316., 328., 335., 298., 313., 331., 286., 322.,
       281., 262., 307., 244., 252., 294., 213., 222., 156., 282., 144.,
       231., 264., 230., 344., 223., 258., 126., 224., 308.,   2., 196.,
       219., 184., 261., 272.,  37., 221., 174., 228., 243., 216., 154.,
        76., 183., 153., 172., 186., 241., 206., 217., 198., 187., 246.,
       242., 232., 235., 176., 146., 132., 159., 171., 162., 212., 218.,
       256., 207.,  81., 166., 173., 199., 236., 149., 197., 209., 305.,
       303., 278., 301., 129., 251., 182., 169., 116., 127., 139., 339.,
       155., 106., 337.,  93.,  22., 324., 229., 274., 292.,  44., 204.,
        54.,  73.,  71.,  61.,  67.,  63.,  79.,  69., 117., 138.,  34.,
        26.,  47.,  64., 121., 211., 254.,  17., 289.,  16., 226., 239.,
         4., 318., 323., 285., 192., 346., 268., 257., 255.,  91., 193.,
       188., 143., 288., 164., 203., 157., 152., 123., 119., 111., 141.,
       359., 148., 113., 114.,  97., 103.,  74., 112.,  29., 348.,  49.,
       266., 304., 309., 227., 284.,  19., 267.,  56., 163.,  13., 245.,
       283., 248., 201., 343., 249., 104., 336., 311., 277., 122., 208.,
       124., 177., 165., 109.,  99.,  66., 302., 151.,  27.,  83., 168.,
       319.,  94.,  38.,  39.,  77., 326.,  46., 317., 341., 194., 299.,
       287.,  53., 238., 279., 134., 191., 293.,  21., 333., 332.,  18.,
       347.,   7.,  84., 136., 167.,  32., 357.,  43.,  36., 349.,  89.,
        86.,  41.,  33., 128.,  28., 118., 142., 358., 147.,  24.,  51.,
       108., 107.,  98.,  31., 353., 352., 354., 351., 356.,   0.])

### Unique Values in 'vent_direction_categorie' Column of `operations_df`

In [ ]:
print("Unique values for 'vent_direction_categorie' in operations_df:")
display(operations_df['vent_direction_categorie'].unique())

Unique values for 'vent_direction_categorie' in operations_df:

array([nan, 'est', 'ouest', 'sud-est', 'sud', 'sud-ouest', 'nord-ouest',
       'nord', 'nord-est'], dtype=object)

### Unique Values in 'mer_force' Column of `operations_df`

In [ ]:
print("Unique values for 'mer_force' in operations_df:")
display(operations_df['mer_force'].unique())

Unique values for 'mer_force' in operations_df:

array([nan,  3.,  2.,  1.,  5.,  0.,  4.,  6.,  8.,  7.,  9.])

### Unique Values in 'cross_sitrep' Column of `operations_df`

In [ ]:
print("Unique values for 'cross_sitrep' in operations_df:")
display(operations_df['cross_sitrep'].unique())

Unique values for 'cross_sitrep' in operations_df:

array(['Nouvelle-Calédonie MAS 2025/166',
       'Nouvelle-Calédonie SAR 2025/184',
       'Nouvelle-Calédonie MAS 2025/169', ..., 'Polynésie SUR 2024/1387',
       'Polynésie SUR 2024/1396', 'Polynésie SUR 2024/1727'], dtype=object)

### Unique Values in 'fuseau_horaire' Column of `operations_df`

In [ ]:
print("Unique values for 'fuseau_horaire' in operations_df:")
display(operations_df['fuseau_horaire'].unique())

Unique values for 'fuseau_horaire' in operations_df:

array(['Pacific/Noumea', 'America/Cayenne', 'Pacific/Tahiti',
       'Europe/Paris', 'Indian/Reunion', 'Indian/Mayotte',
       'America/Guyana', 'America/Martinique', 'America/Guadeloupe'],
      dtype=object)

### Unique Values in 'systeme_source' Column of `operations_df`

In [ ]:
print("Unique values for 'systeme_source' in operations_df:")
display(operations_df['systeme_source'].unique())

Unique values for 'systeme_source' in operations_df:

array(['secmarweb', 'seamis_json'], dtype=object)

In [ ]:
print("Unique values for 'evenement' in operations_df:")
display(operations_df['evenement'].unique())

Unique values for 'evenement' in operations_df:

array(['Avarie du système de propulsion', 'Baignade',
       'Toutes fausses alertes', 'Autre événement', "Voie d'eau",
       'Encalminage', 'Panne de carburant',
       "Avarie de l'appareil à gouverner", 'Rupture de mouillage',
       'Avarie électrique', 'Plongée avec bouteille',
       'Malade avec soin sans déroutement', 'Blessé EvaMed',
       'Blessé avec déroutement', 'Malade EvaMed', 'Homme à la mer',
       'Malade EvaSan', 'Chavirement', 'Suicide',
       'Transport sanitaire île-continent', 'Incertitude',
       'Malade avec déroutement', 'Démâtage', 'Chasse sous-marine',
       'Blessé avec soin sans déroutement', 'Blessé EvaSan', 'Heurt',
       'Difficulté de manoeuvre', 'Incendie',
       'Incertitude sur la position', 'Accident aéronautique',
       'Échouement', 'Sans avarie en dérive', 'Sans avarie inexpérience',
       'Découverte de corps', 'Autre accident',
       'Acte de piraterie / terrorisme', 'Plongée en apnée',
       'Chute falaise / Emporté par une lame',
       "Blessé projection d'une équipe médicale", 'Abordage',
       'Immobilisé dans engins / hélice engagée',
       "Malade projection d'une équipe médicale",
       "Absence d'un moyen de communication",
       'Isolement par la marée / Envasé',
       'Avarie des systèmes de communication', "Découverte d'explosif",
       'Explosion', 'Perte de pontée',
       'Perte de stabilité / Ripage de cargaison',
       'Désarrimage cargaison', 'Loisir nautique', 'Ski nautique',
       'Disparu en mer', 'Situation indéterminée', 'Mouillage immobilisé',
       'Problème médical', 'Accident corporel', nan, 'Avarie de gréement',
       'Engin dangereux à bord', 'Inexpérience',
       'Immigration clandestine', 'Talonnage', "Trouble à l'ordre public",
       'Naufrage', 'Collision', 'Explosif dans engin', 'Accident en mer'],
      dtype=object)

In [ ]:
print("Unique values for 'cross' in operations_df:")
display(operations_df['cross'].unique())

Unique values for 'cross' in operations_df:

array(['Nouvelle-Calédonie', 'Antilles-Guyane', 'Polynésie', 'Gris-Nez',
       'Corsen', 'Jobourg', 'La Garde', 'Étel', 'La Réunion', 'Corse',
       'Mayotte', 'Guyane', 'Martinique', 'Sud océan Indien', 'Soulac',
       'Adge', 'Guadeloupe'], dtype=object)

In [ ]:
print("Unique values for 'departement' in operations_df:")
display(operations_df['departement'].unique())

Unique values for 'departement' in operations_df:

array(['Nouvelle-Calédonie', nan, 'Martinique', 'Guadeloupe', 'Guyane',
       'Collectivité de Saint Barthélémy', 'Collectivité de Saint Martin',
       'Polynésie', 'Seine-Maritime', 'Somme', 'Nord', 'Pas-de-Calais',
       'Bouches-du-Rhône', 'Var', 'Finistère', 'Corse-du-Sud',
       "Côtes-d'Armor", 'Pyrénées-Atlantiques', 'Ille-et-Vilaine',
       'Manche', 'Hérault', 'Alpes-Maritimes', 'Vendée', 'Gironde',
       'Aude', 'Morbihan', 'Loire-Atlantique', 'Réunion',
       'Pyrénées-Orientales', 'Calvados', 'Charente-Maritime', 'Mayotte',
       'Haute-Corse', 'Gard', 'Landes', 'Saint-Pierre-et-Miquelon',
       'Eure', 'La Réunion', 'Corse'], dtype=object)

In [46]:
print("Columns available in operations_stats_df:")
display(operations_stats_df.columns.tolist())

Columns available in operations_stats_df:

['operation_id',
 'date',
 'annee',
 'mois',
 'jour',
 'mois_texte',
 'semaine',
 'annee_semaine',
 'jour_semaine',
 'est_weekend',
 'est_jour_ferie',
 'est_vacances_scolaires',
 'phase_journee',
 'concerne_plongee',
 'implique_wingfoil',
 'avec_clandestins',
 'distance_cote_metres',
 'distance_cote_milles_nautiques',
 'est_dans_stm',
 'nom_stm',
 'est_dans_dst',
 'nom_dst',
 'prefecture_maritime',
 'maree_port',
 'maree_coefficient',
 'maree_categorie',
 'nombre_personnes_blessees',
 'nombre_personnes_assistees',
 'nombre_personnes_decedees',
 'nombre_personnes_decedees_accidentellement',
 'nombre_personnes_decedees_naturellement',
 'nombre_personnes_disparues',
 'nombre_personnes_impliquees_dans_fausse_alerte',
 'nombre_personnes_retrouvees',
 'nombre_personnes_secourues',
 'nombre_personnes_tirees_daffaire_seule',
 'nombre_personnes_tous_deces',
 'nombre_personnes_tous_deces_ou_disparues',
 'nombre_personnes_impliquees',
 'nombre_personnes_blessees_sans_clandestins',
 'nombre_personnes_assistees_sans_clandestins',
 'nombre_personnes_decedees_sans_clandestins',
 'nombre_personnes_decedees_accidentellement_sans_clandestins',
 'nombre_personnes_decedees_naturellement_sans_clandestins',
 'nombre_personnes_disparues_sans_clandestins',
 'nombre_personnes_impliquees_dans_fausse_alerte_sans_clandestins',
 'nombre_personnes_retrouvees_sans_clandestins',
 'nombre_personnes_secourues_sans_clandestins',
 'nombre_personnes_tirees_daffaire_seule_sans_clandestins',
 'nombre_personnes_tous_deces_sans_clandestins',
 'nombre_personnes_tous_deces_ou_disparues_sans_clandestins',
 'nombre_personnes_impliquees_sans_clandestins',
 'nombre_flotteurs_commerce_impliques',
 'nombre_flotteurs_peche_impliques',
 'nombre_flotteurs_plaisance_impliques',
 'nombre_flotteurs_loisirs_nautiques_impliques',
 'nombre_aeronefs_impliques',
 'nombre_flotteurs_autre_impliques',
 'nombre_flotteurs_annexe_impliques',
 'nombre_flotteurs_autre_loisir_nautique_impliques',
 'nombre_flotteurs_canoe_kayak_aviron_impliques',
 'nombre_flotteurs_engin_de_plage_impliques',
 'nombre_flotteurs_kitesurf_impliques',
 'nombre_flotteurs_plaisance_voile_legere_impliques',
 'nombre_flotteurs_plaisance_a_moteur_impliques',
 'nombre_flotteurs_plaisance_a_moteur_moins_8m_impliques',
 'nombre_flotteurs_plaisance_a_moteur_plus_8m_impliques',
 'nombre_flotteurs_plaisance_a_voile_impliques',
 'nombre_flotteurs_planche_a_voile_impliques',
 'nombre_flotteurs_ski_nautique_impliques',
 'nombre_flotteurs_surf_impliques',
 'nombre_flotteurs_vehicule_nautique_a_moteur_impliques',
 'sans_flotteur_implique']

In [48]:
operations_stats_df.select_dtypes(include=['object']).columns

Index(['date', 'mois_texte', 'annee_semaine', 'jour_semaine',
       'est_vacances_scolaires', 'phase_journee', 'nom_stm', 'nom_dst',
       'prefecture_maritime', 'maree_port', 'maree_categorie'],
      dtype='object')

In [49]:
print("Unique values for 'date' in operations_stats_df:")
display(operations_stats_df['date'].unique())

Unique values for 'date' in operations_stats_df:

array(['2025-06-12', '2025-06-30', '2025-06-14', ..., '2021-10-30',
       '2023-11-08', '2025-11-04'], dtype=object)

In [50]:
print("Unique values for 'mois_texte' in operations_stats_df:")
display(operations_stats_df['mois_texte'].unique())

Unique values for 'mois_texte' in operations_stats_df:

array(['Juin', 'Mai', 'Avril', 'Mars', 'Février', 'Janvier', 'Décembre',
       'Novembre', 'Octobre', 'Septembre', 'Août', 'Juillet'],
      dtype=object)

In [51]:
print("Unique values for 'annee_semaine' in operations_stats_df:")
display(operations_stats_df['annee_semaine'].unique())

Unique values for 'annee_semaine' in operations_stats_df:

array(['2025-24', '2025-27', '2025-23', ..., '1984-33', '1984-39',
       '2025-49'], dtype=object)

In [52]:
print("Unique values for 'jour_semaine' in operations_stats_df:")
display(operations_stats_df['jour_semaine'].unique())

Unique values for 'jour_semaine' in operations_stats_df:

array(['Jeudi', 'Lundi', 'Samedi', 'Vendredi', 'Mercredi', 'Mardi',
       'Dimanche'], dtype=object)

In [53]:
print("Unique values for 'est_vacances_scolaires' in operations_stats_df:")
display(operations_stats_df['est_vacances_scolaires'].unique())

Unique values for 'est_vacances_scolaires' in operations_stats_df:

array([False, True, nan], dtype=object)

In [54]:
print("Unique values for 'phase_journee' in operations_stats_df:")
display(operations_stats_df['phase_journee'].unique())

Unique values for 'phase_journee' in operations_stats_df:

array(['matinée', 'déjeuner', 'nuit', 'après-midi', nan], dtype=object)

In [55]:
print("Unique values for 'nom_stm' in operations_stats_df:")
display(operations_stats_df['nom_stm'].unique())

Unique values for 'nom_stm' in operations_stats_df:

array([nan, 'stm-gris-nez', 'stm-corsen', 'stm-jobourg'], dtype=object)

In [56]:
print("Unique values for 'nom_dst' in operations_stats_df:")
display(operations_stats_df['nom_dst'].unique())

Unique values for 'nom_dst' in operations_stats_df:

array([nan, 'dst-dover', 'dst-casquets', 'dst-ouessant', 'dst-corse'],
      dtype=object)

In [57]:
print("Unique values for 'prefecture_maritime' in operations_stats_df:")
display(operations_stats_df['prefecture_maritime'].unique())

Unique values for 'prefecture_maritime' in operations_stats_df:

array([nan, 'manche', 'atlantique', 'mediterranee'], dtype=object)

In [58]:
print("Unique values for 'maree_port' in operations_stats_df:")
display(operations_stats_df['maree_port'].unique())

Unique values for 'maree_port' in operations_stats_df:

array([nan, 'Wissant', 'Le Treport', 'Arcachon Eyrac', 'Dunkerque',
       'Le Touquet', 'Saint-Nazaire', 'Concarneau', 'Calais',
       'Ouistreham', 'Vieux-Boucau', 'Dieppe', 'Roscoff', 'Brest',
       'Paimpol', 'Fecamp', 'Boulogne-sur-Mer', 'Saint-Jean-de-Luz',
       'Saint-Malo', 'Cherbourg', "Les Sables-d'Olonne",
       'Pointe de Grave', 'Port-Navalo', 'Port-Tudy', 'Le Havre',
       'La Rochelle-Pallice', 'Barfleur', 'Dielette', 'Etretat',
       'Granville', 'Boucau-Bayonne', 'Portbail'], dtype=object)

In [59]:
print("Unique values for 'maree_categorie' in operations_stats_df:")
display(operations_stats_df['maree_categorie'].unique())

Unique values for 'maree_categorie' in operations_stats_df:

array([nan, '71-95', '46-70', '20-45', '96-120'], dtype=object)

In [60]:
print("Object type columns in flotteurs_df:")
display(flotteurs_df.select_dtypes(include=['object']).columns)

Object type columns in flotteurs_df:

Index(['pavillon', 'resultat_flotteur', 'type_flotteur', 'categorie_flotteur',
       'numero_immatriculation'],
      dtype='object')

In [61]:
print("Unique values for 'pavillon' in flotteurs_df:")
display(flotteurs_df['pavillon'].unique())

print("Unique values for 'resultat_flotteur' in flotteurs_df:")
display(flotteurs_df['resultat_flotteur'].unique())

print("Unique values for 'type_flotteur' in flotteurs_df:")
display(flotteurs_df['type_flotteur'].unique())

print("Unique values for 'categorie_flotteur' in flotteurs_df:")
display(flotteurs_df['categorie_flotteur'].unique())

print("Unique values for 'numero_immatriculation' in flotteurs_df:")
display(flotteurs_df['numero_immatriculation'].unique())

Unique values for 'pavillon' in flotteurs_df:

array(['Français', 'Étranger', nan], dtype=object)

Unique values for 'resultat_flotteur' in flotteurs_df:

array(['Difficulté surmontée, reprise de route', 'Remorqué', 'Assisté',
       'Non assisté, cas de fausse alerte', 'Perdu / Coulé',
       'Retrouvé après recherche', 'Échoué',
       'Côte rejointe par ses propres moyens', nan, 'Inconnu',
       'A la dérive', 'Au mouillage', 'Déséchoué', 'Volé', 'Renfloué',
       'Non renseigné', 'Immobilisé dans engin'], dtype=object)

Unique values for 'type_flotteur' in flotteurs_df:

array(['Pêche', 'Plaisance à moteur < 8m',
       'Navire de charge ou de servitude', 'Plaisance à voile',
       'Plaisance à moteur > 8m', 'Kitesurf', 'Navire à passagers',
       'Administration / Armée', 'Annexe', 'Planche à voile',
       'Autre loisir nautique', 'Plaisance voile légère',
       'Véhicule nautique à moteur', 'Canoë / Kayak / Aviron',
       'Autre aéronef', 'Aéronef de tourisme', 'Surf',
       'Conchylicole / Aquacole', 'Fluvial / Péniche', 'Ski nautique',
       'Commerce', 'Stand up paddle', 'Plaisance à moteur', nan,
       'Parapente', 'Engin radeau de survie', 'Hélicoptère',
       'Navire de plaisance à moteur', 'Engin de plage',
       'Navire de plaisance à moteur type off-shore',
       'Plate-forme de forage off-shore', 'ULM'], dtype=object)

Unique values for 'categorie_flotteur' in flotteurs_df:

array(['Pêche', 'Plaisance', 'Commerce', 'Loisir nautique', 'Autre',
       'Aéronef', nan], dtype=object)

Unique values for 'numero_immatriculation' in flotteurs_df:

array([nan, '1b5107a1b02ec13c428aebdec60678dcf7fb8867',
       '3f24bdb964e95b6d7d5801abcd6f017b0d83d371', ...,
       '7902bc8bc00a7977360247852f1daea740ace454',
       '51c9cf99aa2eb5edb493eaa2bad4bc98a89eab85',
       'e1af96093ebe269a1f989409903ccde946a46c32'], dtype=object)

In [63]:
print("Object type columns in resultats_humain_df:")
display(resultats_humain_df.select_dtypes(include=['object']).columns)

Object type columns in resultats_humain_df:

Index(['categorie_personne', 'resultat_humain'], dtype='object')

In [64]:
print("Unique values for 'categorie_personne' in resultats_humain_df:")
display(resultats_humain_df['categorie_personne'].unique())

Unique values for 'categorie_personne' in resultats_humain_df:

array(['Pêcheur français', 'Plaisancier français', 'Marin étranger',
       'Autre', 'Commerce français', 'Clandestin', 'Toutes catégories',
       'Pratiquant loisirs nautiques', 'Migrant', 'Pêcheur amateur'],
      dtype=object)

In [65]:
print("Unique values for 'resultat_humain' in resultats_humain_df:")
display(resultats_humain_df['resultat_humain'].unique())

Unique values for 'resultat_humain' in resultats_humain_df:

array(["Personne tirée d'affaire seule",
       'Personne impliquée dans fausse alerte', 'Personne assistée',
       'Personne secourue', 'Personne retrouvée',
       'Personne décédée accidentellement',
       'Personne décédée naturellement', 'Personne disparue',
       'Personne décédée', 'Inconnu', 'Personne indemne',
       'Personne malade', 'Personne blessée'], dtype=object)

In [68]:
num_cols_operations = operations_df.select_dtypes(include=['number']).columns
print("Descriptive statistics for numerical columns in operations_df:")
display(operations_df[num_cols_operations].describe())

Descriptive statistics for numerical columns in operations_df:

,operation_id,latitude,longitude,vent_direction,vent_force,mer_force,numero_sitrep
count,3.857820e+05,331320.000000,331320.000000,281797.000000,281854.000000,274569.000000,385782.000000
mean,3.534151e+09,38.439246,-1.940670,187.660529,3.548195,2.663564,1053.862630
std,6.828414e+09,18.564329,35.703032,104.381924,1.675643,1.079026,1033.913984
min,-1.356140e+05,-90.000000,-180.000000,0.000000,0.000000,0.000000,0.000000
25%,-3.403475e+04,42.661700,-2.912025,90.000000,2.000000,2.000000,291.000000
50%,2.119951e+09,44.158300,-0.500000,208.000000,3.000000,3.000000,701.000000
75%,3.120021e+09,48.351700,5.710000,272.000000,4.000000,3.000000,1499.000000
max,1.104202e+11,90.000000,180.000000,360.000000,12.000000,9.000000,22622.000000

In [70]:
num_cols_operations_stats = operations_stats_df.select_dtypes(include=['number']).columns
print("Descriptive statistics for numerical columns in operations_stats_df:")
display(operations_stats_df[num_cols_operations_stats].describe())

Descriptive statistics for numerical columns in operations_stats_df:

,operation_id,annee,mois,jour,semaine,distance_cote_metres,distance_cote_milles_nautiques,maree_coefficient,nombre_personnes_blessees,nombre_personnes_assistees,...,nombre_flotteurs_kitesurf_impliques,nombre_flotteurs_plaisance_voile_legere_impliques,nombre_flotteurs_plaisance_a_moteur_impliques,nombre_flotteurs_plaisance_a_moteur_moins_8m_impliques,nombre_flotteurs_plaisance_a_moteur_plus_8m_impliques,nombre_flotteurs_plaisance_a_voile_impliques,nombre_flotteurs_planche_a_voile_impliques,nombre_flotteurs_ski_nautique_impliques,nombre_flotteurs_surf_impliques,nombre_flotteurs_vehicule_nautique_a_moteur_impliques
count,3.857820e+05,385782.000000,385782.000000,385782.000000,385782.000000,3.313200e+05,331320.000000,237636.000000,385782.000000,385782.000000,...,385782.000000,385782.000000,385782.000000,385782.000000,385782.000000,385782.000000,385782.000000,385782.00000,385782.000000,385782.000000
mean,3.534151e+09,2009.254514,6.841343,15.756940,27.932337,3.463219e+05,186.998889,69.398286,0.074031,0.899205,...,0.013554,0.007805,0.169396,0.078259,0.020983,0.200885,0.029880,0.00001,0.002030,0.010768
std,6.828414e+09,11.379230,2.790715,8.748287,12.166850,1.315714e+06,710.429152,20.312859,0.353308,9.575292,...,0.130402,0.100848,0.381271,0.274177,0.143978,0.406852,0.179201,0.00322,0.049869,0.108449
min,-1.356140e+05,1984.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000,22.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,-3.403475e+04,2000.000000,5.000000,8.000000,20.000000,0.000000e+00,0.000000,53.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2.119951e+09,2011.000000,7.000000,16.000000,29.000000,7.000000e+02,0.380000,70.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,3.120021e+09,2020.000000,9.000000,23.000000,36.000000,1.270000e+04,6.860000,85.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
max,1.104202e+11,2025.000000,12.000000,31.000000,53.000000,1.316300e+07,7107.450000,118.000000,42.000000,3237.000000,...,20.000000,24.000000,8.000000,8.000000,4.000000,19.000000,7.000000,1.00000,4.000000,4.000000

In [71]:
num_cols_flotteurs = flotteurs_df.select_dtypes(include=['number']).columns
print("Descriptive statistics for numerical columns in flotteurs_df:")
display(flotteurs_df[num_cols_flotteurs].describe())

Descriptive statistics for numerical columns in flotteurs_df:

       operation_id   numero_ordre
count  3.151910e+05  244793.000000
mean   3.642869e+09       1.029482
std    7.189393e+09       0.295728
min   -1.356140e+05       1.000000
25%   -3.979500e+04       1.000000
50%    2.119870e+09       1.000000
75%    3.120021e+09       1.000000
max    1.104202e+11      25.000000

In [73]:
num_cols_resultats_humain = resultats_humain_df.select_dtypes(include=['number']).columns
print("Descriptive statistics for numerical columns in resultats_humain_df:")
display(resultats_humain_df[num_cols_resultats_humain].describe())

Descriptive statistics for numerical columns in resultats_humain_df:

       operation_id         nombre  dont_nombre_blesse
count  2.905440e+05  290544.000000       290544.000000
mean   3.803402e+09       3.966401            0.097397
std    7.483455e+09      16.422192            0.397674
min   -1.356140e+05       0.000000            0.000000
25%   -4.142225e+04       1.000000            0.000000
50%    1.932025e+09       2.000000            0.000000
75%    3.120051e+09       4.000000            0.000000
max    1.104202e+11    3237.000000           42.000000

In [75]:
import pandas as pd

# --- 1. Force les dates critiques ---
date_cols_ops = ['date_heure_reception_alerte', 'date_heure_fin_operation']
for col in date_cols_ops:
    if col in operations_df.columns:
        operations_df[col] = pd.to_datetime(operations_df[col], errors='coerce')

if 'date' in operations_stats_df.columns:
    operations_stats_df['date'] = pd.to_datetime(operations_stats_df['date'], errors='coerce')

# --- 2. Vérifications par table ---

print("🔍 1. OPERATIONS – Catégories suspectes")
cat_cols_ops = ['type_operation', 'pourquoi_alerte', 'moyen_alerte', 'qui_alerte', 'categorie_qui_alerte', 'cross', 'evenement', 'vent_direction_categorie']
for col in cat_cols_ops:
    if col in operations_df.columns:
        print(f"\n{col}:")
        print(operations_df[col].value_counts(dropna=False).head(10))

print("\n⚠️ 2. OPERATIONS – Vérifications numériques & dates")
# Dates futures ?
today = pd.Timestamp.today(tz='UTC')
future_start = operations_df[operations_df['date_heure_reception_alerte'] > today]
future_end = operations_df[operations_df['date_heure_fin_operation'] > today]
if len(future_start) > 0:
    print(f"• Date réception dans le futur : {len(future_start)}")
if len(future_end) > 0:
    print(f"• Date fin dans le futur : {len(future_end)}")

# Durée négative ?
operations_df['duree_sec'] = (operations_df['date_heure_fin_operation'] - operations_df['date_heure_reception_alerte']).dt.total_seconds()
neg_duration = operations_df[operations_df['duree_sec'] < 0]
if len(neg_duration) > 0:
    print(f"• Opérations avec durée négative : {len(neg_duration)}")

print("\n🔍 3. FLOTTEURS – Valeurs catégorielles")
for col in ['pavillon', 'resultat_flotteur', 'type_flotteur', 'categorie_flotteur']:
    if col in flotteurs_df.columns:
        print(f"\n{col}:")
        print(flotteurs_df[col].value_counts(dropna=False).head(10))

print("\n🔍 4. RÉSULTATS HUMAINS – Valeurs catégorielles")
for col in ['categorie_personne', 'resultat_humain']:
    if col in resultats_humain_df.columns:
        print(f"\n{col}:")
        print(resultats_humain_df[col].value_counts(dropna=False).head(10))

print("\n🚨 5. INCOHÉRENCES MÉTIER")

# Règle 1 : opération terminée → doit avoir date_fin
term_sans_fin = operations_df[
    operations_df['date_heure_reception_alerte'].notna() &
    operations_df['date_heure_fin_operation'].isna()
]
if len(term_sans_fin) > 0:
    print(f"• Opérations avec alerte mais pas de fin : {len(term_sans_fin)}")

# Règle 2 : si "sans_flotteur_implique" = True, alors flotteurs_df ne devrait pas avoir de ligne
if 'sans_flotteur_implique' in operations_stats_df.columns:
    ops_sans_flotteur = operations_stats_df[operations_stats_df['sans_flotteur_implique'] == True]['operation_id']
    conflit = flotteurs_df[flotteurs_df['operation_id'].isin(ops_sans_flotteur)]
    if len(conflit) > 0:
        print(f"• Conflit : opérations marquées 'sans_flotteur' mais présentes dans flotteurs.csv : {len(conflit)}")

# Règle 3 : résultat humain "tiré d'affaire" mais nombre = 0 ?
humain_zero = resultats_humain_df[resultats_humain_df['nombre'] == 0]
if len(humain_zero) > 0:
    print(f"• Lignes résultats humains avec nombre = 0 : {len(humain_zero)}")

🔍 1. OPERATIONS – Catégories suspectes

type_operation:
type_operation
NaN    176441
SAR    102069
MAS     68521
DIV     37435
SUR      1316
Name: count, dtype: int64

pourquoi_alerte:
pourquoi_alerte
NaN                        209341
Événement reconnu          114817
Inquiétude                  15574
Signal pyrotechnique        12453
Balise 406                  11723
Autre                        7460
Balise 121,5 - 243           6297
Signal radio-électrique      2806
IMMARSAT C                   2375
IMMARSAT                     1879
Name: count, dtype: int64

moyen_alerte:
moyen_alerte
Téléphone à terre           105613
VHF                          54274
VHF phonie                   49542
Téléphone à la mer / GSM     27237
Téléphone fixe               25297
Télex                        20500
Téléphone mobile à terre     19466
Téléphonie mobile 196        17640
Téléphone mobile             17469
Balise de détresse            9248
Name: count, dtype: int64

qui_alerte:
qui_alerte
Navire impliqué                            97827
CODIS / SDIS / CTA                         36081
Sémaphore                                  35335
Témoin                                     29276
Centre secours locaux (caserne pompier)    19834
Navire de plaisance                        18033
MCC SARSAT COSPAS 406                      15260
CORG / Gendarmerie nationale               11340
Famille / Proche                           10522
CROSS / MRCC                               10410
Name: count, dtype: int64

categorie_qui_alerte:
categorie_qui_alerte
Navire à la mer                         135803
Autorité civile française à terre       120156
Organisme ou personne privée             61790
Autorité militaire française à terre     52324
Autorité étrangère                        9318
Autorité maritime française à terre       3594
NaN                                       1728
Aéronef                                   1069
Name: count, dtype: int64

cross:
cross
Étel               94798
La Garde           91030
Corsen             43137
Gris-Nez           42069
Jobourg            31636
Corse              20380
Antilles-Guyane    17704
Martinique          9764
Soulac              8678
La Réunion          8110
Name: count, dtype: int64

evenement:
evenement
Toutes fausses alertes                     61216
Avarie du système de propulsion            46179
Difficulté de manoeuvre                    44998
Autre événement                            35546
Échouement                                 21948
Situation indéterminée                     13500
Immobilisé dans engins / hélice engagée     9973
Rupture de mouillage                        9936
Chavirement                                 9060
Voie d'eau                                  8484
Name: count, dtype: int64

vent_direction_categorie:
vent_direction_categorie
NaN           115028
ouest          53417
nord-ouest     38664
est            37795
sud-ouest      37361
sud            29471
nord-est       29252
sud-est        23533
nord           21261
Name: count, dtype: int64

⚠️ 2. OPERATIONS – Vérifications numériques & dates
• Date fin dans le futur : 5
• Opérations avec durée négative : 267

🔍 3. FLOTTEURS – Valeurs catégorielles

pavillon:
pavillon
Français    218352
Étranger     75043
NaN          21796
Name: count, dtype: int64

resultat_flotteur:
resultat_flotteur
Remorqué                                  124676
Assisté                                    56786
Difficulté surmontée, reprise de route     51935
Non assisté, cas de fausse alerte          25244
Côte rejointe par ses propres moyens       15338
Retrouvé après recherche                   11809
Perdu / Coulé                               8102
Échoué                                      8051
NaN                                         4039
Inconnu                                     3179
Name: count, dtype: int64

type_flotteur:
type_flotteur
Plaisance à voile                   77479
Pêche                               40996
Navire de plaisance à moteur        39898
Plaisance à moteur < 8m             30191
Plaisance à moteur                  27028
Commerce                            19620
Navire de charge ou de servitude    13243
Planche à voile                     11496
Engin de plage                       9286
Plaisance à moteur > 8m              8095
Name: count, dtype: int64

categorie_flotteur:
categorie_flotteur
Plaisance          185462
Loisir nautique     41655
Pêche               41106
Commerce            38089
Autre                3981
NaN                  2606
Aéronef              2292
Name: count, dtype: int64

🔍 4. RÉSULTATS HUMAINS – Valeurs catégorielles

categorie_personne:
categorie_personne
Toutes catégories               118650
Plaisancier français             80778
Autre                            45260
Pêcheur français                 13643
Pratiquant loisirs nautiques     10044
Marin étranger                    8449
Migrant                           6945
Commerce français                 5124
Clandestin                        1649
Pêcheur amateur                      2
Name: count, dtype: int64

resultat_humain:
resultat_humain
Personne secourue                        131533
Personne assistée                         66021
Personne tirée d'affaire seule            47087
Personne impliquée dans fausse alerte     19953
Personne retrouvée                         7155
Inconnu                                    6670
Personne décédée                           4751
Personne disparue                          2629
Personne indemne                           2203
Personne décédée accidentellement          1999
Name: count, dtype: int64

🚨 5. INCOHÉRENCES MÉTIER
• Opérations avec alerte mais pas de fin : 10
• Lignes résultats humains avec nombre = 0 : 816